.half-content{
    height: calc(45vh - 80px);
    overflow: auto;
}

.user-form *{
    margin: 0px 5px;
}

.user-form .textbox{
    flex-grow: 1;
}

/* 
.user-form [name=attivo]{
    width: 90px;
    min-width: 90px;
} */

.deactive{
    color: rgb(138, 138, 138);
}