.reply{
    margin-left: 8vw;
}

.commentUser{
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}

.commentText{
    margin: 0px 0px 0px 0px;
}

.commentTags{
    color: rgb(168, 167, 167);
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}

.star-box{
    align-items: flex-end;
    text-align: center;
    min-width: 158px;
}

.replay-box-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.mg-r-10{
    margin-right: 10px;
}

.sticky-top{
    position: sticky;
    top: 90px;
}

.two-btn-box{
    display: flex;
    margin: 0px !important;
    box-sizing: border-box !important;
    height: max-content !important;
}

.two-btn-box input:first-child{
    margin-left: 0px;
}

.two-btn-box input:last-child{
    margin-right: 0px;
}

#onlyOwner{
    height: max-content;
}