.card-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.card-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.card-left *, .card-right *{
    margin: 0px 5px;
}

.card-info{
    color: rgb(168, 167, 167);
}
