.story-card{
    grid-template-columns: 192px 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "cover header header"
        "cover button-mod button";
}

.story-button{
    font-size: 2em;
}

.button-mod{
    grid-area: button-mod;
}