html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    --primary-color: burlywood;
    --primary-color-selected: #ce954b;
    --background-color: white;
    --primary-text-color: white;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
}

.content{
    flex-grow: 1;
    padding: 10px;
    padding-top: 20px;
    /*margin-top: 60px;*/
}

footer{
    color: var(--primary-text-color);
    background: #36383e;
    padding: 4px 16px 4px 16px;
    font-size: 0.8em;
}

/* ---- */

.row-centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-aligned{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* overflow: auto; */
}

.column-aligned{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
}

.text-centered{
    text-align: center;
}

.primary-color{
    color: var(--primary-color);
}
.primary-color:visited {
    color: var(--primary-color);
}

/* -- Top-Bar -- */

.logo{
    height: 4em;
    animation-name: wobble;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    padding-top: 1em;
}
@keyframes wobble{
    from{
        transform: translate(0em, -0.5em);
    }

    50%{
        transform: translate(0em, 0.5em);
    }

    to{
        transform: translate(0em, -0.5em);
    }
}

.logo-name{
    font-size: 2.5em;
    margin: 0.2em;
    color: var(--primary-text-color);
    -webkit-text-stroke: 1px black;
}

.top-box-color{
    background-color: var(--primary-color);
}
.top-box-svg-color{
    fill: var(--primary-color);
}
.top-box-padding{
    padding-left: 1em;
    padding-right: 1em;
}

.top-box-text{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1.5em;
}
.top-box-text:visited {
    color: var(--primary-text-color);
}
.top-box-text:hover {
    cursor: pointer;
}

.top-box-icon{
    color: var(--primary-text-color);
    font-size: 2em !important;
}

.container-top-box-icon{
    position: relative;
    text-align: center;
}
.container-top-box-icon:hover{
    cursor: pointer;
}
.elements-in-cart{
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--primary-text-color);
    -webkit-text-stroke: 1px black;
}

.fade-in{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* --Content-login -- */

.input-login{
    width: 60%;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-color: white;
    border-style: solid;
    border-radius: 1em;
    font-size: 1em;

    box-shadow: 2px 2px 0px 0px var(--primary-color);
}
.input-login:focus{
    outline:none;
}

.button-form{
    background-color: var(--primary-color);
    color: white;
    text-decoration:none;
    border: none;
    border-radius: 2em;
    padding: 0.5em 2em;
    margin: 0em 0.5em;
    font-size: 1em;
}
.button-form:hover{
    cursor: pointer;
}
.button-form:focus{
    outline:none;
}

.error{
    text-align: center;
    font-size: 1em;
}

/* --Media-Query PC -- */

/* Se su PC */
@media only screen and (min-width: 768px){
    .input-login{
        width: 400px;
    }
}

/* --- --- */

.top-box-menu{
    display: flex;
    align-items: center;
}
.margin-lr{
    margin-left: auto;
    margin-right: auto;
}

.top-box-element-centered{
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
}

.text-title{
    font-size: 2.2em;
    margin: auto;
    text-align: center;
}

.hr-primary-color{
    border-top: 1px solid var(--primary-color);
}

/* -- menu -- */

.row {
    display: table;
}

.dots, .value {
    display: table-cell;
}

.dots {
    transform: translate(0,-0.6em);
}

.value {
    white-space: nowrap;
    padding: 0;
}

.table {
    margin: 10px;
}

.dots {
    border-bottom: 1px dotted black;
    width: 100%;
}

.quantity{
    font-size: 1em;
    width: 2em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.order-button{
    font-size: 1em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 0.4em;
}
.order-button:hover{
    background-color: var(--primary-color-selected);
    cursor: pointer;
}

.order-description{
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    color: gray;
}