#favStory{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 3px;
}

#story-info-side{
    min-width: 20%;
    max-width: 230px;
    align-self: flex-start;
}

#story-info-list{
    display: none;
}

#chapter-list{
    flex-grow: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

@media only screen and (max-width: 900px)  {
    #story-info-side{
        min-width: 25%;
    }
}

@media only screen and (max-width: 590px)  {
    #story-info-side{
        display: none;
    }

    #story-info-list{
        display: block;
    }

    #chapter-list{
        padding-left: 0px;
    }
}
